{% extends "base.html" %}

{% block content %}

  {% if object_list %}
    <table>
      <tr>
        <th>Date</th>
        <th>Chest</th>
        <th>Abdomen</th>
        <th>Thigh</th>
        <th>Total</th>
      </tr>
      {% for measurement in measurements %}
      <tr>
        <td><a href="/tracker/{{ measurement.id }}/">{{ measurement.created }}</a></li>
        <td>{{ measurement.chest }}</td>
        <td>{{ measurement.abdomen }}</td>
        <td>{{ measurement.thigh }}</td>
        <td>{{ measurement.get_total_measurement }}</td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No measurements available.</p>
  {% endif %}

{% endblock %}
