{% extends "base.html" %}

{% block content %}

  {% if object_list %}
    <div id="charts"></div>

    <table>
      <tr>
        <th>Date</th>
        <th>Chest</th>
        <th>Abdomen</th>
        <th>Thigh</th>
        <th>Total</th>
        <th>Body Fat Percentage</th>
      </tr>
      {% for measurement in measurements %}
      <tr>
        <td><a href="{% url 'tracker:detail' measurement.id %}">{{ measurement.created }}</a></li>
        <td>{{ measurement.chest }}</td>
        <td>{{ measurement.abdomen }}</td>
        <td>{{ measurement.thigh }}</td>
        <td>{{ measurement.get_calculations.total_measurement }}</td>
        <td>{{ measurement.weight }}</td>
        <td>{{ measurement.get_calculations.body_fat_percentage }}</td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No measurements available.</p>
  {% endif %}

{% endblock content %}

{% block javascript %}

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  <script type="text/javascript">
    $.getJSON('{% url 'tracker:json' %}', function(data) {
      for (i=0; i < data['datasets'].length; i++) {
        $('<canvas>').attr({
          id: 'chart-' + i
        }).css({
          width: 400,
          height: 100
        }).appendTo('#charts');

        var ctx = document.getElementById('chart-' + i);
        var chart = new Chart(ctx, {
          type: 'line',
          data: { "labels": data['labels'], "datasets": [data['datasets'][i]]}
        });
      }
    }).fail(function(jqXHR, textStatus, errorThrown) {
        console.log("error " + textStatus);
        console.log("incoming Text " + jqXHR.responseText);
    });
  </script>

{% endblock javascript %}
